{% assign items = include.items %}
<div class="data-list info-list">
  {% for item in items %}
    <div class="info-list__item">
      <h3 class="info-list__name">
        {% if item.url %}<a href="{{ item.url }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}
      </h3>
      {% if item.role %}
        <p class="info-list__role">{{ item.role }}</p>
      {% endif %}
      {% if item.description %}
        <div class="info-list__description">{{ item.description | markdownify }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
