<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">
    <div style="display: inline-block; vertical-align: middle">
        <p style="display: inline-block; vertical-align: middle">A service provided by</p>
        <img style="display: inline-block; vertical-align: middle; object-fit: scale-down; max-width: 100%; padding: 12px 20px" width="150px" height="40px" src="/assets/images/logos/odissei.png" alt="ODISSEI">
    </div>
    <div style="display: inline-block; vertical-align: middle">
        <p style="display: inline-block; vertical-align: middle">Supported by</p>
        <img style="display: inline-block; vertical-align: middle; object-fit: scale-down; max-width: 100%; padding: 12px 20px" width="150px" height="40px" src="/assets/images/Eyra_logo_300px.png" alt="Eyra">
    </div>
</div>

<hr style="border: none; border-top: 1px solid #CCCCCC; margin: 0.25em 0;">

<div class="page__footer-copyright">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="130px" height="32px" src="/assets/images/university_logos/uvalogo_regular_compact_p_en.png" alt="UvA">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="130px" height="32px" src="/assets/images/university_logos/Logo_RU_EN_RGB.png" alt="RU">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="130px" height="32px" src="/assets/images/university_logos/UU_logo_2021_EN_RGB.png" alt="UU">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="130px" height="32px" src="/assets/images/university_logos/vu-transparant.png" alt="VU">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="130px" height="32px" src="/assets/images/university_logos/Tilburg_University_logo.svg" alt="TiU">
    <img style="object-fit: scale-down; max-width: 100%; padding: 8px 12px" width="173px" height="43px" src="/assets/images/university_logos/EUR_line_01_RGB_2400_colour.png" alt="EUR">
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} datadonation.eu</div>
