<div class="institution-grid">
  {% for institution in site.data.institutions %}
    <article class="institution-card">
      <h3 class="institution-card__title">{{ institution.institution }}</h3>
      <p class="institution-card__affiliate">
        <span class="institution-card__label">Affiliate</span>
        <a href="{{ institution.affiliate_url }}">{{ institution.affiliate_name }}</a>
      </p>
      <p class="institution-card__department">{{ institution.department }}</p>
    </article>
  {% endfor %}
</div>
