<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__sentence">
      <p class="site-footer__label">
        A service provided by
        <span class="site-footer__inline-logo">
          <img class="site-footer__logo site-footer__logo--odissei" src="{{ '/assets/images/logos/odissei.png' | relative_url }}" alt="ODISSEI">
        </span>
        and supported by
        <span class="site-footer__inline-logo">
          <img class="site-footer__logo site-footer__logo--eyra" src="{{ '/assets/images/Eyra_logo_300px.png' | relative_url }}" alt="Eyra">
        </span>
      </p>
    </div>

    <div class="site-footer__group site-footer__group--members">
      <p class="site-footer__label">Project partners</p>
      <div class="site-footer__logo-strip">
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--uva" src="{{ '/assets/images/university_logos/uvalogo_regular_compact_p_en.png' | relative_url }}" alt="University of Amsterdam">
        </div>
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--ru" src="{{ '/assets/images/university_logos/Logo_RU_EN_RGB.png' | relative_url }}" alt="Radboud University">
        </div>
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--uu" src="{{ '/assets/images/university_logos/UU_logo_2021_EN_RGB.png' | relative_url }}" alt="Utrecht University">
        </div>
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--vu" src="{{ '/assets/images/university_logos/vu-transparant.png' | relative_url }}" alt="Vrije Universiteit Amsterdam">
        </div>
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--tilburg" src="{{ '/assets/images/university_logos/Tilburg_University_logo.svg' | relative_url }}" alt="Tilburg University">
        </div>
        <div class="site-footer__logo-cell">
          <img class="site-footer__logo site-footer__logo--eur" src="{{ '/assets/images/university_logos/EUR_stacked_colour.png' | relative_url }}" alt="Erasmus University Rotterdam">
        </div>
      </div>
    </div>

    <p class="site-footer__copyright">&copy; {{ site.time | date: '%Y' }} datadonation.eu</p>
  </div>
</footer>
